#slider_elements li{
	-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
	padding: 10px;
	margin: 10px;
	width: 80%;
	font-weight: bold;
	background: #eee;	  
}	

#slider_elements li a{
	color: #444;
	text-decoration: none;
}  

#slider_elements li a:hover{
	color: #c7a589;
}

#slider_elements li .left{
	width: 80%;
	display: block;
	float: left;
}

#slider_elements li .left div{
	float: left;	
}

#slider_elements li .left .element_title{
	line-height: 50px;
	margin-left: 10px;
}

#slider_elements li .right{
	width: 20%;
	display: block;
	float: right;
	text-align: right;
}

#slider_elements li .right .element_actions .dashicons,
#slider_elements li .right .element_actions{
	line-height: 50px;
}

#slider_elements li .right div{
	float: right;
	line-height: 50px;
	margin-right: 10px;
}

.slider_editor_nav li {
	float: left;
	margin-right: 10px;
}

